@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#atlas{
  margin: 10% 35% 5% 45%
}

.border vh-50 w-25 {
  margin-top: 13%;
}

.error{
  color: red;
  font-size: small;
  white-space: nowrap;
}

/* body */
.all_content {
  background: #ECF1F6;
}

.fa-solid{
  color: #ffffff;
  font-size: 2rem;
  padding: 20px 10px 10px 10px;
}

.fa-regular {
  color: #ffffff;
  font-size: 2rem;
  padding: 20px 10px 10px 10px;
}

.barIcon{
  justify-content: center;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
#side{
  fill: #fff;
  margin: 10px 3px 0 10px;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */

.accordion-button {
  cursor: pointer;
  background-color: #f0f0f0; /* 初期背景色を設定 (薄いグレー) */
  color: #000; /* 初期文字色を設定 */
  border: none; /* 必要に応じて境界線を消す */
  margin-top: 20px;
}

.accordion-button::before {
  border-right: solid 3px #000;
  border-top: solid 3px #000;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  right: 10%;
  top: 22%; /* 新しい矢印の位置 (上側) */
  -webkit-transform: rotate(-45deg) !important; /* 矢印を反転表示 */
  transform: rotate(-45deg) !important;
  transition: 0.5s;
}

.accordion-button.open::before {
  top: 22%; /* 開いた状態の矢印位置調整 */
  -webkit-transform: rotate(135deg) !important; /* 矢印を反転 */
  transform: rotate(135deg) !important;
}

.accordion-content {
  position: absolute;
  margin-top: 20px;
  border-bottom: #000;
}

.main{
  border-bottom: 2px solid #999; /* 下線の太さと色 */
}

.sub{
  display: block;
  margin-top: 10px;
  border-bottom: 2px solid #999; /* 下線の太さと色 */
  padding-right: 50px; /* 余白を追加して線を伸ばす */
}

.main-category{
  color: #9E9E9E;
  background-color: gainsboro;
}

.sub-category {
  color: black;
  background-color: gainsboro;
}

.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: right;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.category{
  margin-bottom: 30px;
}

.margin{
  margin: 5px 0 5px 0;
}

#mainCategoryRequest{
  margin-bottom: 30px;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */

.btn-pink {
  background-color: #ff69b4 !important;/* ピンク色 */
  color: white;/* テキスト色 */
  border: none;
}

.btn-yellow {
  background-color: #CCCC66 !important;/* 黄色 */
  color: white;/* テキスト色 */
  border: none;
}

.btn-lightBlue {
  background-color: #03AAD2 !important; /* 水色 */
  color: #EEE;
  border: none;
  width: 80%;
  height: 30%;
  text-align: center;
  border-radius: 15%;
}

#basic-addon2{
  color: #EEE;
  background-color: #03AAD2;
  border-radius: 10px;
}

.form-control{
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle border if needed */
}

.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 13px;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  border: none;
  background: #999;
  color: #FFF;
  width: 40%;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
  background-color: #ecf1f6;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
}


.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.search{
  padding: 20% 20% 5% 5%;
}

.free_word{
  background-color: #D3D3D3;
  border-radius: 10px;
  border: none;
  padding: 10px 10px 10px 10px;
}

label, select{
  display: block ;
}

.category-label{
  color: #494949;
  background-color: #D3D3D3;
  border-radius: 10px;
  border: none;
  padding: 7px 7px 7px 7px;
}

.custom{
  margin: 10px 0 10px 0;
}

.search-add{
  text-decoration-line: underline;
  width: 100%;
}

.profSum{
  margin: 0% 0% 10% 0%;
}

.subjectsRegister{
  display: flexbox;
}
